In [13]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [14]:
depression_df = pd.read_csv(os.path.join("..", "Data", "depression_data_cleaned.csv"))
depression_df.head()

,sex,age,marital_status,children,household_size,years_of_edu,hh_children,cons_nondurable,asset_livestock,asset_durable,...,durable_investment,nondurable_investment,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,depressed
0,1,21.0,0,3,4,10,3,357.817690,355.244350,208.199810,...,569.850340,48.166222,0,0.0,0,0.0,0.0,1,0.000000,0.0
1,1,44.0,1,6,8,6,6,233.441540,240.958880,11.691220,...,252.650100,14.711897,0,0.0,0,0.0,0.0,0,0.000000,0.0
2,1,23.0,1,1,3,7,1,171.970760,0.000000,120.916050,...,141.736020,0.720692,0,0.0,0,0.0,0.0,1,0.080077,0.0
3,1,67.0,0,0,1,1,0,37.013428,20.651573,32.831509,...,58.287693,4.804611,0,0.0,0,0.0,0.0,0,0.000000,1.0
4,1,28.0,1,4,6,10,0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0,0.0,0,0.0,0.0,1,0.000000,0.0

In [15]:
target = depression_df["depressed"]
target_names = ["Not Depressed", "Depressed"]

In [16]:
data = depression_df.drop("depressed", axis=1)
feature_names = data.columns
data.head()

,sex,age,marital_status,children,household_size,years_of_edu,hh_children,cons_nondurable,asset_livestock,asset_durable,...,wage_expenditures,durable_investment,nondurable_investment,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa
0,1,21.0,0,3,4,10,3,357.817690,355.244350,208.199810,...,0,569.850340,48.166222,0,0.0,0,0.0,0.0,1,0.000000
1,1,44.0,1,6,8,6,6,233.441540,240.958880,11.691220,...,0,252.650100,14.711897,0,0.0,0,0.0,0.0,0,0.000000
2,1,23.0,1,1,3,7,1,171.970760,0.000000,120.916050,...,0,141.736020,0.720692,0,0.0,0,0.0,0.0,1,0.080077
3,1,67.0,0,0,1,1,0,37.013428,20.651573,32.831509,...,0,58.287693,4.804611,0,0.0,0,0.0,0.0,0,0.000000
4,1,28.0,1,4,6,10,0,0.000000,0.000000,0.000000,...,0,0.000000,0.000000,0,0.0,0,0.0,0.0,1,0.000000

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [18]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(kernel='linear')

In [19]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.805

In [20]:
# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

               precision    recall  f1-score   support

Not Depressed       0.81      0.99      0.89       233
    Depressed       0.25      0.02      0.03        54

     accuracy                           0.80       287
    macro avg       0.53      0.50      0.46       287
 weighted avg       0.71      0.80      0.73       287